
:root{
    --border-radius-box: 10px;
    --border-radius-btn: 4px;
}

body {
    /*
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;*/
    font-size: x-large;
    margin-top: 38px;
    user-select: none;
    font-family: pt-mono,"Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;

    margin: 0;
    padding: 0;
}

h1{
    background-color: #0336FF;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 10px;
    -webkit-box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
    -moz-box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
    border-radius: var(--border-radius-box);
    text-shadow: 0 0 2px white;
}

.top-container{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 0;

}

.start-container{
    -webkit-box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
    -moz-box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
    border-radius: var(--border-radius-box);
    padding: 40px 10px;
    margin-top: 50px;

    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}

.start-container > div {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn{
    margin: 10px;
    padding: 10px 10px;
    border: none;
    background-color: #FF0266;
    color: black;
    transition: all .1s;
    font-weight: bold;
    border-radius: 4px;
    letter-spacing: 1px;
    -webkit-box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
    -moz-box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
    text-shadow: 0 0 3px gray;
    font-size: x-large;
    text-shadow: 0 0 1px black;
    font-family: inherit;

    width: 90%;


}

.btn:hover {
    transform: scale(1.01);
    cursor: pointer;
}




@media (max-width: 600px) {

    .start-container {
        width: 90%;
    }

}


.image-container {

    left: 0;
    right: 0;
    margin: auto;

    width: 200px;
    height: 200px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    border-radius: 100%;
    border: 1px solid #FF0266;

    -webkit-box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
    -moz-box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;

    background-image: url("./blueberries-1296x728-feature.jpg");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}



@media (max-width: 202px) {
    .image-container {
        width: 100px;
    height: 100px;
    }
}
